---
layout: default
title: Members - CA Lab
hero_title: MEMBERS
hero_bg_image: /img/colliding_waveDM_halo.webp
---

<!-- <section id="faculty" class="py-5">
    
    <div class="container bg-body-tertiary border border-subtle-dark">
        <div class="row pt-4">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading mb-5">Faculty</h2>
            </div>
        </div>
        
        <div class="row pb-4">
            
            <div id="Hsi-Yu" class="col-md-6 mb-5">
                <div class="text-center mb-4"> 
                    <img src="{{ '/img/member/schive.webp' | relative_url }}" 
                         class="img-fluid rounded-circle img-team" alt="Hsi-Yu Schive">
                    <h4 class="mt-3">Hsi-Yu Schive</h4>
                    <p class="text-secondary">Team Leader</p> </div>
                
                <div class="member-intro">
                    <p>
                        test and super long meaning less text. He hid under the covers hoping that nobody would notice him there. It really didn't make much sense...
                    </p>
                    <ul class="list-inline social-buttons member-list text-center">
                        <li class="list-inline-item"><a href="https://www.phys.ntu.edu.tw/enphysics/hyschive.html" target="_blank" class="text-primary"><i class="fa-solid fa-landmark"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/hyschive" target="_blank" class="text-primary"><i class="fa-brands fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
            
            <div id="prof-2" class="col-md-6 mb-5">
                <div class="text-center mb-4">
                    <img src="{{ '/img/member/undecided.webp' | relative_url }}" 
                         class="img-fluid rounded-circle img-team" alt="Your name">
                    <h4 class="mt-3">Your name</h4>
                    <p class="text-secondary">position</p>
                </div>
                <div class="member-intro">
                    <p>Introduction: some intro</p>
                    <p>Interests: pen</p>
                    <ul class="list-inline social-buttons member-list text-center">
                        <li class="list-inline-item"><a href="#" class="text-primary"><i class="fa-brands fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-primary"><i class="fa-brands fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-primary"><i class="fa-brands fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="post-phd" class="py-5">
    <div class="container bg-body-tertiary border border-subtle-dark">
        <div class="row pt-4">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading mb-5">Postdoctoral Research Fellows</h2>
            </div>
        </div>

        <div class="row pb-4">
            <div id="post-phd-1" class="col-md-6 mb-5">
                <div class="text-center mb-4">
                    <img src="{{ '/img/member/undecided.webp' | relative_url }}" 
                         class="img-fluid rounded-circle img-team" alt="Your name">
                    <h4 class="mt-3">Your name</h4>
                    <p class="text-secondary">position</p>
                </div>
                <div class="member-intro">
                    <p>Introduction: some intro</p>
                    <p>Interests: pen</p>
                    <ul class="list-inline social-buttons member-list text-center">
                        <li class="list-inline-item"><a href="#" class="text-primary"><i class="fa-brands fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-primary"><i class="fa-brands fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-primary"><i class="fa-brands fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="research-associate" class="py-5">
    <div class="container bg-body-tertiary border border-subtle-dark">
        <div class="row pt-4">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading mb-5">Research Associates</h2>
            </div>
        </div>
        <div class="row pb-4">
            <div id="hsinhao" class="col-md-6 mb-5">
                <div class="text-center mb-4">
                    <img src="{{ '/img/member/hsinhao.webp' | relative_url }}"
                    class="img-fluid rounded-circle img-team" alt="">
                    <h4>Hsinhao Huang</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="member-intro">
                    <p>
                        TBF
                    </p>
                <ul class="list-inline social-buttons member-list text-center">
                    <li class="list-inline-item"><a href="#" class="text-primary"><i class="fa-brands fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-primary"><i class="fa-brands fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-primary"><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="phd" class="py-5">

    <div class="container bg-body-tertiary border border-subtle-dark">
        <div class="row pt-4">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading mb-5">Doctoral Students</h2>
            </div>
        </div>
        <div class="row pb-4">
            <div id="phd1" class="col-md-6 mb-5">
                <div class="text-center mb-4">
                    <img src="{{ '/img/member/undecided.webp' | relative_url }}" 
                         class="img-fluid rounded-circle img-team" alt="Your name">
                    <h4 class="mt-3">Your name</h4>
                    <p class="text-secondary">position</p>
                </div>
                <div class="member-intro">
                    <p>Introduction: some intro</p>
                    <p>Interests: pen</p>
                    <ul class="list-inline social-buttons member-list text-center">
                        <li class="list-inline-item"><a href="#" class="text-primary"><i class="fa-brands fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-primary"><i class="fa-brands fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-primary"><i class="fa-brands fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>

        <div class="row">
    </div>
</section>


<section id="master" class="bg-halo-bug-fixed">
    <div class="container bg-trans-light-gray border-black">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Master students</h2>
            </div>
        </div>
        <div class="row">
            <div id="master-1" class="anchor-offset">
                <div class="col-sm-6">
                    <div class="team-member-2">
                        <img src="{{ '/img/member/undecided.webp' | relative_url }}" class="img-fluid rounded-circle img-team" alt="">
                        <h4>this might be you</h4>
                        <p class="text-muted">lead developer</p>
                    </div>
                    <div class="member-intro">
                        <p>
                            test and super long meaning less text. He hid under the covers hoping that nobody would notice him there. It really didn't make much sense since it would be obvious to anyone who walked into the room there was someone hiding there, but he still held out hope. He heard footsteps coming down the hall and stop in front in front of the bedroom door. He heard the squeak of the door hinges and someone opened the bedroom door. He held his breath waiting for whoever was about to discover him, but they never did.
                        </p>
                        <ul class="list-inline social-buttons member-list">
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa-brands fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa-brands fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="undergraduate" class="bg-halo-bug-fixed">
    <div class="container bg-trans-light-gray border-black">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Undergraduate students</h2>
            </div>
        </div>
        <div class="row">
            <div id="undergrad-1" class="anchor-offset">
                <div class="col-sm-6">
                    <div class="team-member-2">
                        <img src="{{ '/img/member/undecided.webp' | relative_url }}" class="img-fluid rounded-circle img-team" alt="">
                        <h4>this might be you</h4>
                        <p class="text-muted">lead developer</p>
                    </div>
                    <div class="member-intro">
                        <p>
                            test and super long meaning less text. He hid under the covers hoping that nobody would notice him there. It really didn't make much sense since it would be obvious to anyone who walked into the room there was someone hiding there, but he still held out hope. He heard footsteps coming down the hall and stop in front in front of the bedroom door. He heard the squeak of the door hinges and someone opened the bedroom door. He held his breath waiting for whoever was about to discover him, but they never did.
                        </p>
                        <ul class="list-inline social-buttons member-list">
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa-brands fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa-brands fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="previous" class="bg-halo-bug-fixed">
    <div class="container bg-trans-light-gray border-black">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Previous members</h2>
            </div>
        </div>
        <div class="row">
            <div id="previous-1" class="anchor-offset">
                <div class="col-sm-6">
                    <div class="team-member-2">
                        <img src="{{ '/img/member/undecided.webp' | relative_url }}" class="img-fluid rounded-circle img-team" alt="">
                        <h4>this might be you</h4>
                        <p class="text-muted">lead developer</p>
                    </div>
                    <div class="member-intro">
                        <p>
                            test and super long meaning less text. He hid under the covers hoping that nobody would notice him there. It really didn't make much sense since it would be obvious to anyone who walked into the room there was someone hiding there, but he still held out hope. He heard footsteps coming down the hall and stop in front in front of the bedroom door. He heard the squeak of the door hinges and someone opened the bedroom door. He held his breath waiting for whoever was about to discover him, but they never did.
                        </p>
                        <ul class="list-inline social-buttons member-list">
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa-brands fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa-brands fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="recruit" class="bg-halo-bug-fixed">
    <div class="container bg-trans-light-gray border-black">
        <div class="row">
            <div class="col-lg-12 text-center" style="padding-top:15px;">
                <h2 class="section-heading">Join us !</h2>
            </div>
        </div>
        <div class="row">
            <div class="member-intro text-center">
                <p>
                    some text, or link
                </p>
            </div>
        </div>
    </div>
</section> -->

<section id="members-list" class="py-5">
    <div class="container">
        
        {% assign all_members = site.members | sort: 'sort_order' %}
        
        {% assign member_roles = site.data.member_roles.roles %} 
        
        
        {% for role in member_roles %}
            {% assign role_id = role.id %}
            {% assign role_title = role.title %}
            
            {% assign members_list = all_members | where: 'role', role_id %}
            
            <div id="{{ role_id }}-section" class="pt-5 bg-body-tertiary border border-subtle-dark {% unless forloop.first %}mt-5{% endunless %}">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading mb-3">{{ role_title }}</h2>
                    </div>
                </div>
                {% if members_list.size > 0 %}
                <div class="row pb-4">
                    {% for member in members_list %}
                        {% include member_card.html member=member %}
                    {% endfor %}
                </div>
                {% endif %}
                
            </div>
            
        {% endfor %}
    </div>
</section>