---
layout: default
title: Projects - CA Lab
hero_title: Research
hero_bg_image: /assets/img/colliding_waveDM_halo.webp
---

{% assign all_projects = site.projects | sort: 'sort_order' %}

<section id="projects" class="py-5 bg-body-tertiary border border-subtle-dark">
    <div class="container">
        <div class="row g-4"> 
            {% for project in all_projects %}
            <div class="col-md-4 col-sm-6">
                <a href="#portfolioModal-{{ project.modal_id }}" class="portfolio-link d-block position-relative" 
                   data-bs-toggle="modal" 
                   data-bs-target="#portfolioModal-{{ project.modal_id }}">
                    
                    <div class="portfolio-hover position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center opacity-0 bg-primary bg-opacity-50 text-white transition-opacity">
                        <div class="portfolio-hover-content text-center">
                            <i class="fa-solid fa-magnifying-glass-plus fa-3x"></i> 
                        </div>
                    </div>
                    <img src="{{ project.image | relative_url }}" class="img-fluid img-project-thumb" alt="{{ project.title }} thumbnail">
                </a>
                
                <div class="portfolio-caption p-2 text-center">
                    <h4 class="h5 mb-1">{{ project.title }}</h4>
                    <p class="text-secondary mb-0">{{ project.subtitle }}</p>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</section>

{% include project_modals.html %}

<!-- Projects Section -->
    <!-- <section id="projects" class="py-5  bg-body-tertiary border border-subtle-dark">
        <div class="container row">
            <div class="col-md-4">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{ '/assets/img/colliding_waveDM_halo.webp' | relative_url }}" class="img-project" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Project name 1</h4>
                    <p class="text-muted">Project subtitle 1</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{ '/assets/img/wave_function.webp' | relative_url }}" class="img-responsive img-project" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Project name 2</h4>
                    <p class="text-muted">Project subtitle 2</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{ '/assets/img/wave_function.webp' | relative_url }}" class="img-responsive img-project" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Treehouse</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{ '/assets/img/wave_function.webp' | relative_url }}" class="img-responsive img-project" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Golden</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{ '/assets/img/wave_function.webp' | relative_url }}" class="img-responsive img-project" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Escape</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{ '/assets/img/wave_function.webp' | relative_url }}" class="img-responsive img-project" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Dreams</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>
        </div>
    </section> -->

    <!-- Replace start from @@@ end to $$$. Only be replaced by the workflow. -->