$custom-primary-color:             #fed136;
$primary:              $custom-primary-color;
$navbar-dark-hover-color:           $primary;
$link-color:                        $primary;

$enable-dark-mode: true;
$color-mode-type: data;

$custom-font-family: 'Roboto', 'Montserrat', sans-serif;

$font-family-base: $custom-font-family;