$custom-primary-color:             #fed136;
$primary:              $custom-primary-color;
$navbar-dark-hover-color:           $primary;
$navbar-dark-color:                #ffffff;
$navbar-dark-icon-color:           rgba($navbar-dark-color, .55);
$enable-dark-mode: true;

$custom-font-family: 'Roboto', 'Montserrat', sans-serif;

$font-family-base: $custom-font-family;