---
layout: default
title: GAMER Development Archive - CALab
permalink: /research/gamer_dev/archive/

pagination:
  enabled: true
  collection: projects
  per_page: 5
  tag: "GAMER_dev"
  permalink: /:num/
  trail:
    before: 2
    after: 2

hero_title: GAMER Development Archive
hero_bg_image: /assets/img/colliding_waveDM_halo.webp
---

<section id="GAMER-dev-archive" class="py-5 container">
{% for project in paginator.posts %}
  {% include project_card.html project=project index=forloop.index %}
{% endfor %}

{% if paginator.total_pages > 1 %}
    {% include pagination.html %}
{% endif %}

<div class="text-center mt-5">
    <a href="{{ '/publications/' | relative_url }}?tag=gamer-development" class="btn btn-outline-primary shadow-sm">
        <i class="fa-solid fa-book me-2"></i>View Related Publications
    </a>
</div>

</section>