---
layout: default
title: GAMER Development - CALab
permalink: /research/gamer_dev

hero_title: GAMER Development
hero_bg_image: /assets/img/colliding_waveDM_halo.webp
---

<section id="gamer-dev-intro" class="container py-5">
    <div class="row">
        <div class="col-lg-12 text-center">
        {% assign curated_ids = site.data.research_section.gamer-dev_highlight %}
        {% for slug in curated_ids %}
        {% assign project = site.projects | where: "slug", slug | first %}
        {% include project_card.html project=project index=forloop.index %}
        {% endfor %}
        <a href="archive/">View Full Archive</a>
        </div>
    </div>
</section>