<footer class="footer bg-dark text-white py-4 mt-auto" id="footer">
    <div class="container">

        <div class="row align-items-center">
            <div class="col-md-4 text-center text-md-start">
                <span class="copyright">Copyright &copy; CA Lab 2023</span>
            </div>
            <div class="col-md-4 my-3 my-md-0">
                <ul class="list-unstyled d-flex justify-content-center mb-0">
                    <li class="me-3"><a href="https://github.com/gamer-project" class="text-white"><i class="fa-brands fa-github fa-lg"></i></a>
                    </li>
                    <li class="me-3"><a href="#" class="text-white"><i class="fa-brands fa-slack fa-lg"></i></a>
                    </li>
                    <li><a href="#" class="text-white"><i class="fa-brands fa-google fa-lg"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 text-center text-md-end">
                <ul class="list-unstyled d-flex justify-content-center justify-content-md-end mb-0 quicklinks">
                        <li class="ms-3"><a href="#">Privacy Policy</a>
                        </li>
                        <li class="ms-3"><a href="#">Terms of Use</a>
                        </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
