---
layout: default
title: FDM - CALab
permalink: /research/gamer_app/

hero_title: GAMER Application
hero_bg_image: /assets/img/colliding_waveDM_halo.webp
---

<section id="fdm-intro" class="container py-5">
    <div class="row">
        <div class="col-lg-12 text-center">
        {% assign curated_ids = site.data.research_section.gamer-app_highlight %}
        {% for slug in curated_ids %}
        {% assign project = site.projects | where: "slug", slug | first %}
        {% include project_card.html project=project index=forloop.index %}
        {% endfor %}
        <a href="{{ '/research/gamer_app/archive/' | relative_url }}">View Full Archive</a>
        </div>
    </div>
</section>