<!DOCTYPE html>
<html lang="en">
<!-- <html data-bs-theme="dark"></html> -->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ page.title | default: site.title }}</title>
    <link rel="icon" type="image/x-icon" href="{{ '/assets/img/lab logo favicon.webp' | relative_url }}">

    <!-- Bootstrap Core CSS -->
    <!-- <link href="{{ '/css/bootstrap.css' | relative_url }}" rel="stylesheet"> -->
    <!--<link href="{{ '/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">-->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

    <!-- Custom CSS -->
    <!-- <link href="{{ '/css/agency.css' | relative_url }}" rel="stylesheet"> -->
    <!-- <link href="{{ '/assets/css/custom.css' | relative_url }}" rel="stylesheet"> -->

    <!-- Custom Fonts -->
    <!--<link href="{{ '/font-awesome/css/font-awesome.min.css' | relative_url }}" rel="stylesheet" type="text/css">--> <!--v4-->
    <link href="{{ '/assets/fontawesome-free-6.5.1-web/css/all.min.css' | relative_url }}" rel="stylesheet" type="text/css"> <!--v6-->
    <!-- If you want to add the Font Awesome v4 or v5, please add the css about v4 or v5 under fontawesome-free-6.5.1-web/css-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


{% comment %} Set body class based on page properties {% endcomment %}
{% if page.bg_image %}
    {% assign body_class = 'body-home-bg' %}
    {% assign bg_image_url = page.bg_image | relative_url %}


{% endif %}

<body class="d-flex flex-column min-vh-100 {{ body_class }}" 
      {% if bg_image_url %}
        style="background-image: url('{{ bg_image_url }}');"
      {% endif %}
      data-bs-theme="dark"
>
    <!-- <button onclick="scrollToTop()" id="myBtn" title="Go to top"><i class="fa-solid fa-arrow-up" style="font-size:20px;"></i></button> -->


    {% comment %} Check if Page Header should be displayed {% endcomment %}
    {% if page.hero_title %}
        {% include hero.html %} 
    {% endif %}

    <header>
        {% include navbar.html %}
    </header>


    
   <main class="flex-shrink-0">
        <div class="container">
        {{ content }}
        </div>
    </main>

    {% include footer.html %}


    <!-- jQuery -->
    <!-- <script src="{{ '/js/jquery.js' | relative_url }}"></script> -->

    <!-- Bootstrap Core JavaScript -->
    <!-- <script src="{{ '/js/bootstrap.min.js' | relative_url }}"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script> -->
    <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>

    <!-- Plugin JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{ '/js/classie.js' | relative_url }}"></script> -->
    {%- comment -%} The scroll/shrink script is kept in the repo but not loaded by default.
        To enable scroll-based shrinking on a specific page set `header_animated: true` in that
        page's front matter. We do not modify the file `/js/cbpAnimatedHeader.js` per requirement. {%- endcomment -%}
    {% if page.header_animated %}
    <!-- <script src="{{ '/js/cbpAnimatedHeader.js' | relative_url }}"></script> -->
    {% endif %}
    <script src="{{ '/assets/js/nav-bar-animation.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/publication_filter.js' | relative_url }}"></script>

    <!-- Contact Form JavaScript -->
    <!-- <script src="{{ '/js/jqBootstrapValidation.js' | relative_url }}"></script>
    <script src="{{ '/js/contact_me.js' | relative_url }}"></script> -->

    <!-- Custom Theme JavaScript -->
    <!-- <script src="{{ '/js/agency.js' | relative_url }}"></script> -->
    <!--<script src="{{ '/js/openingAnimation.js' | relative_url }}"></script>-->
    <!-- <script src="{{ '/js/topButton.js' | relative_url }}"></script> -->
    {% if page.scripts %}
    {% for script in page.scripts %}
    <!-- <script src="{{ '/js/' | append: script | relative_url }}"></script> -->
    {% endfor %}
    {% endif %}

</body>

</html>
