---
layout: default
---

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            
            <header class="mb-4 text-center">
                <h1 class="display-5 fw-bolder mb-1">{{ page.title }}</h1>
                <div class="text-secondary small mt-3">
                    <i class="fa-regular fa-calendar-alt me-2"></i>
                    Posted on {{ page.date | date: "%B %d, %Y" }}
                    {% if page.categories %}
                        <span class="mx-2">|</span>
                        <i class="fa-solid fa-folder me-2"></i>
                        {{ page.categories | join: ', ' }}
                    {% endif %}
                </div>
            </header>
            
            <section class="mb-5 article-content">
                {{ content }}
            </section>
            
            <div class="text-center pt-3 border-top">
                <a class="btn btn-outline-secondary" href="{{ site.baseurl }}/news/">
                    <i class="fa-solid fa-arrow-left me-2"></i> Back to News List
                </a>
            </div>
            
        </div>
    </div>
</div>